In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('test-data.xlsx')

In [3]:
df.head()

   Rank                                               Team  Points
0     1  Calvin & Hobbes (Chirag Agrawal & Govind Malho...      40
1     2        Transformers (Paritosh Pandey & Ekta Singh)      38
2     3                                    Dhanush Kishore      35
3     4   VP Squared (Vinita Phadke & Vishwanath Prudhivi)      32
4     5                   Nobody (Dinesh Kumar & Himanshu)      20

In [4]:
df.to_html('test-data.html')

## Dynamically generating code

In [19]:
for i in range(1,df.shape[0]):
    print(df.iat[i,1])

Transformers (Paritosh Pandey & Ekta Singh)
Dhanush Kishore
VP Squared (Vinita Phadke & Vishwanath Prudhivi)
Nobody (Dinesh Kumar & Himanshu)
i/p o/p (Aditya Lahoti)
A_Team_Has_No_Name(Shaheen Perveen & GeethaSaikrishna Anumukonda)
Markov(Mayug Maniparambil &  Harshit Saxena)
Kaushal Sharma
Shubham Gupta
Himanshu Shukla
Lone Wolf (Omkar Sohoni)
Bhanu Teja( G.V.BhanuTeja & Aravinda Mandli)
Meenakshi Mane
RA (Rukku Lama & Ashay Nikam)
Manas sehra & sarthak pawar

In [56]:
html1 = """ 
<html>
  <head>
    <style>
        #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

        #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        #customers tr:hover {background-color: #ddd;}  
        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #1d96b2;
          color: white;
    }
    </style>
  </head>
<body>
  <img src="https://wallpaperaccess.com/full/427934.jpg" alt="Trulli" width="1200" height="80">
  <table id="customers">
    <caption><font size="6">Audio Hackathon Leaderboard</font></caption>
    <br></br>
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Team</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
"""

for i in range(1,df.shape[0]):
    html1 = html1 +"""<tr>
    <td>"""+str(df.iat[i,0])+"""</td>
    <td>"""+str(df.iat[i,1])+"""</td>
    <td>"""+str(df.iat[i,2])+"""</td>
    </tr>"""
html2 = """</tbody>
</table>
</div>
</body>
</html>
"""

#print(html1+html2)

In [57]:
with open("file1.html", "w") as file:
    file.write(html1)